# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.pytest_cache/

# Data & Models
*.h5
*.pth
*.onnx
outputs/
/data/

# Environments
.venv/
env/
venv/

# Domain AdaptationS
/Domain_Adaptation

# Notebooks
.ipynb_checkpoints

# OS / IDE
.DS_Store
.vscode
.idea
